body { /*used for gradient background*/
    background: linear-gradient(to left, #FF90C7, #AE78E8, #84A8FF);
    height: 100%;
}

html {
    /*How big the page is even without the content*/
    height: 100%;
    width: 100%;
}

#sprinkles { /*Gif in the back*/
    height: 100%;
    width: 100%;
    position: absolute; /*takes gif out of flow and puts it behind everything*/
}

#poptart1 { /*poptart box*/
    margin: auto;
    float: left; /*will float to the left */
    position: absolute;/*will take poptart box out of flow*/
    top: 0px; /*puts img on top of the second img, which is behind it*/
    height: 500px; /*original size of the poptart box*/
    transition: height 1s; /*when mouse if hovering, img will grow after one sec*/
}

#poptart1:hover { /*when mouse is hovering over img*/
    height: 600px; /*size gets larger*/
    animation: poptart1 5s linear 1s 1 normal; /*& will move to the right for 5 seconds with a one sec delay*/
}

@keyframes poptart1 {
    from {
        left: 0px; /*where poptart starts*/

    }
    to {
        left: 1000px; /*where poptart box goes*/

    }
}

#poptart3 {
    position: relative;/*will be placed and positioned beased on the parent element*/
    height: 300px;
    animation: rotate 2s ease 1 4s; /*poptart will rotate around to screen once for 4 secs*/
}

@keyframes rotate {
    from {
        transform: rotate(0deg); /*poptart's beginning position, 0 degrees*/
    }
    to {
        transform: rotate(360deg); /*poptart makes a full circle (rotation)*/
    }
}

h1 {
    /*words "it wasn't blueberry"*/
    position: relative; /*will be placed based on parent element*/
    z-index: -1; /*places text behind the poptart box img*/
    text-shadow: 2px 2px #ff6666;
}
p{
    font-family:"Courier New";
    font-size:50px;
    color:;
}