body {
    background: linear-gradient(to left, #FF90C7, #AE78E8, #84A8FF);
    height: 100%;
}

html {
    /*How big the page is even without the content*/
    height: 100%;
    width: 100%;
}

#sprinkles {
    /*Gif in the back*/
    height: 100%;
    width: 100%;
    position: absolute;
    /*takes the gif out of the flow and puts it behind everything*/
}

#poptart1 {
    /*poptart box*/
    margin: auto;
    float: left;
    position: absolute;
    top: 0px;
    display: block;
    height: 600px;
}

#poptart1:hover {
    animation-timing-function: linear;
    height: 600px;
    animation: poptart1 5s linear 1s 1 normal;
}

@keyframes poptart1 {
    /*where the poptart box goes*/
    from {
        /*where it starts*/
        left: 0px;
    }
    to {
        left: 1000px;
    }
}

#poptart3 {
    /*Poptart behind the box*/
    /*margin: auto;*/
    position: relative;
    height: 300px;
    animation: rotate 2s ease 1 4s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1 {
    /*words "it wasn't blueberry"*/
    position: relative;
    display: block;
    z-index: -1;
    text-shadow: 2px 2px #ff6666;
}
